<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Edit book</h1>
<div>
    <form th:object="${book}" th:action="@{../save}" action="#" method="post">
        <label for="id"></label>
        <input type="hidden" id="id" th:field="*{id}">
        <label for="ftitle">Name</label>
        <input type="text" id="ftitle" th:field="*{title}" />
        <div style="clear: both; display: block; height: 10px;"></div>
        <label for="fauthor">Author</label>
        <input type="text" id="fauthor" th:field="*{author}" />
        <div style="clear: both; display: block; height: 10px;"></div>
        <label for="fisbn">ISBN</label>
        <input type="text"  id="fisbn" th:field="*{isbn}" />
        <div style="clear: both; display: block; height: 10px;"></div>
        <label for="fyear">Year</label>
        <input type="text" id="fyear" th:field="*{year}" />
        <div style="clear: both; display: block; height: 10px;"></div>
        <label for="fprice">Price</label>
        <input type="text" id="fprice" th:field="*{price}" />
        <div style="clear: both; display: block; height: 10px;"></div>
        <input type="submit" value="Save"></input>
        <label for="catlist">Category</label>
        <select id="catlist" th:field="*{category}" class="form-control">
            <option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.categoryName}"></option>
        </select>
    </form>
</div>
</body>
</html>